<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Forgot Password</title>
</head>
<body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; background-color: #f2f2f2;">
    <div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #ffffff; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
        <h1><a style="text-decoration: none; color: #673AB7;" href="https://osanebi.com" title="Osanebi.com">Osanebi dot Com</a></h1>
    </div>
    <div style="margin-bottom: 20px; text-align: justify">
        <h2 style="text-align: center; color: #333333;">Your Password Reset Code</h2>
        <p>
            Dear {FullName},
        </p>
        <p>
            To reset your password, please use the following 4-digit code:
        </p>
        <span style="display: block; text-align: center; font-size:24px; font-weight:bold; margin-bottom: 20px;">{VerificationCode}</span>
        <div>
            <p>If you did not request a password reset, please ignore this email.</p>
            <p>Best regards, <br /> Osanebi </p>
        </div>
    </div>
</body>
</html>